footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A222D;
    color: rgba(255, 255, 255, 0.438);
    border-bottom: 3px solid #5cc4c4
}

.link-lavinia {
    color: #5cc4c4 
}

.link-lavinia:hover {
    color:  rgba(92, 196, 196, 0.8)
}
.link-lavinia:visited {
    color:  #5cc4c4 
}
